services:
  marklogic:
    container_name: marklogic
    image: progressofficial/marklogic-db:12.0.1-ubi-rootless-2.2.3@sha256:1f277e42e1b5be0686269b2f9fd664f4b06ecb7264ccaa8111ff0f79452798b0
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8011:8011"
      - "8012:8012"
    environment:
      MARKLOGIC_ADMIN_USERNAME: admin
      MARKLOGIC_ADMIN_PASSWORD: admin
      MARKLOGIC_INIT: "true"
    volumes:
      - ./.docker/db/data/:/var/opt/MarkLogic/
      - ./.docker/db/backup:/var/opt/backup
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7997/LATEST/healthcheck"]
      interval: 2s
      timeout: 60s
      retries: 30

networks:
  default:
    name: caselaw
    external: true
